#main .posi {
  margin: 12px 0;
}

#main .posi span {
  font-size: 12px;
  margin-right: 6px;
}

#main .posi a {
  font-size: 12px;
  color: #c1c1c1;
}

#main #recommend {
  border: 1px solid #c1c1c1;
  border-top: 2px solid #359af0;
}

#main #recommend h2 {
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 32px;
  color: #666;
  text-indent: 12px;
}

#main #recommend #recommendlist {
  padding: 6px;
  display: flex;
  margin-bottom: 12px;
}

#main #recommend #recommendlist li {
  border-left: 1px solid #c1c1c1;
  height: 80px;
  width: 216px;
  padding: 6px;
  display: flex;
}

#main #recommend #recommendlist li img {
  width: 80px;
  height: 80px;
}

#main #recommend #recommendlist li .recomdetail {
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}

#main #recommend #recommendlist li .recomdetail .title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#main #recommend #recommendlist li .recomdetail a {
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  background-color: #ff3c00;
  color: #fff;
  display: block;
  width: 80px;
}

#main #recommend #recommendlist li .recomdetail span {
  font-size: 16px;
  font-weight: 900;
  color: #ff3c00;
}

#main #recommend #recommendlist li:first-child {
  border: none;
}

#main #menu {
  border: 1px solid #c1c1c1;
  margin: 20px 0;
  display: flex;
  background-color: #f5f5f5;
  font-size: 12px;
  color: #999999;
}

#main #menu p {
  line-height: 33px;
  padding: 0 8px;
}

#main #menu .menulist {
  height: 32px;
  display: flex;
}

#main #menu .menulist li {
  float: left;
  height: 30px;
  width: 50px;
  text-align: center;
  line-height: 30px;
  border-right: 1px solid #c1c1c1;
  border-top: 2px solid transparent;
}

#main #menu .menulist li:first-child {
  border-left: 1px solid #c1c1c1;
}

#main #menu .menulist .active {
  color: #333;
  background-color: #fff;
  border-bottom: 2px solid transparent;
}

#main #menu .prices {
  display: flex;
  align-items: center;
  padding: 0 4px;
  border-right: 1px solid #c1c1c1;
}

#main #menu .prices input {
  height: 20px;
  width: 36px;
  border: 1px solid #c1c1c1;
  margin: 0 6px;
}

#main #menu .prices #pconfirm {
  width: 38px;
  height: 22px;
}

#main #menu .other {
  display: flex;
  align-items: center;
  padding: 0 12px;
}

#main #menu .other #gift {
  margin-left: 18px;
}

#main #menu .other span {
  margin: 0 12px 0 72px;
}

#main #menu .fr {
  margin-left: 280px;
}

#main #menu .fr input {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  padding: 0 6px;
  color: #c1c1c1;
}

#main #menu .menucon {
  display: flex;
}

#main #menu .menucon li {
  padding: 12px;
}

#main #goods {
  margin: 36px 0;
}

#main #goods #goodslist {
  display: flex;
  flex-wrap: wrap;
}

#main #goods #goodslist .items {
  box-sizing: border-box;
  width: 25%;
  height: 340px;
  border: 1px solid #c1c1c1;
  margin-bottom: 12px;
}

#main #goods #goodslist .items .itemscon {
  position: relative;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  border: 2px solid transparent;
}

#main #goods #goodslist .items .itemscon .goodsimg {
  display: flex;
  justify-content: center;
}

#main #goods #goodslist .items .itemscon .goodsimg img {
  width: 196px;
  height: 196px;
  margin: 4px;
  z-index: -1;
}

#main #goods #goodslist .items .itemscon .goodsinfo {
  background-color: #fff;
  position: absolute;
  width: 100%;
  transition: transform 0.5s;
  z-index: 1;
}

#main #goods #goodslist .items .itemscon .goodsinfo .simg {
  display: flex;
  padding: 4px 8px;
  background-color: rgba(255, 255, 255, 0.5);
}

#main #goods #goodslist .items .itemscon .goodsinfo .simg img {
  width: 30px;
  height: 30px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .simg li {
  margin-right: 10px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .title {
  padding: 0 8px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .title a {
  font-size: 12px;
  line-height: 16px;
  color: #666;
}

#main #goods #goodslist .items .itemscon .goodsinfo .pricebox {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
  background-color: #fff;
}

#main #goods #goodslist .items .itemscon .goodsinfo .pricebox p .price {
  color: red;
  font-size: 16px;
  font-weight: 900;
  margin-right: 10px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .pricebox p del {
  font-size: 10px;
  color: #999;
}

#main #goods #goodslist .items .itemscon .goodsinfo .pricebox a {
  border: 1px solid #999;
  color: #999;
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 10px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .sell {
  display: flex;
  margin: 6px 0;
  background-color: #fff;
  flex: 1;
}

#main #goods #goodslist .items .itemscon .goodsinfo .sell li {
  flex: 1;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .master {
  text-align: center;
  background-color: #ddd;
  padding: 6px 0;
}

#main #goods #goodslist .items .itemscon .goodsinfo .master a {
  color: #333;
  font-size: 12px;
}

#main #goods #goodslist .items .itemscon .goodsinfo .addcar {
  background-color: #359af0;
  text-align: center;
  color: #fff;
  display: block;
  width: 100%;
  padding: 12px 0;
  font-weight: 900;
  font-size: 12px;
}

#main #goods #goodslist .items .itemscon:hover {
  border: 2px solid #359af0;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  height: 415px;
}

#main #goods #goodslist .items .itemscon:hover .goodsinfo {
  transform: translateY(-48px);
}

#main #goods #page {
  display: flex;
  justify-content: center;
}

#main #goods #page #pagenum {
  display: flex;
}

#main #goods input {
  padding: 10px 6px;
  background-color: #fff;
  border: 1px solid #359af0;
  color: #359af0;
}

#main #goods #firstpage {
  margin-right: 6px;
}

#main #goods #lastpage {
  margin-left: 6px;
}

#main #goods #pagenum li {
  padding: 6px 0;
  line-height: 28px;
  width: 40px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #c1c1c1;
  color: #666;
}

#main #goods #pagenum .active {
  background-color: #359af0;
  color: #fff;
}

.ui-state-disabled {
  color: #AAAAAA !important;
  border: 1px solid #AAAAAA !important;
}

.ui-state-disabled:hover {
  background: #f5f5f5;
  cursor: default !important;
}
